*,*::after,*::before{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
}

.page{
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    height: 50px;
    z-index: 1000;
    align-items: center;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}
.nav a:hover{
    color: red;
}
.bg{
    height: 100vh;
    width: 100%;
    position: relative;
    
}
img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.logo{
    font-size: 30px;
    margin-left: 10px;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.bg-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.bg-txt h1{
    text-transform: uppercase;
    color: #fff;
    margin: 0 20px;
    font-size: 44px;
}
.bg-txt button{
    margin-top: 30px;
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

.bg-txt button:hover{
    background-color: coral;
}
.legend{
    text-align: center;
    font-size: 40px;
    position: relative;
    margin-top: 20px;
}
.legend::after{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 10px;
    display: block;
    content: "";
    height: 2px;
    width: 200px;
    background-color: rgb(26, 224, 116);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.card{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card__item{
    width: 20%;
    padding: 0 20px;
}

.card__image img{
    height: auto;
    max-width: 100%;
    display: block;
}
.card__name{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
}
.card__info{
    margin-top: 20px;
}
.card__prof{
    margin-top: 20px;
}


@media(max-width:820px){

    .card__item{
        width: 40%;
        margin-top: 30px;
    }
    
}

@media(max-width:500px){

    .card__item{
        width: 100%;
        
    }
    
}

.interest{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}


.boxice{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box__item{
    width: 20%;
    padding: 0 10px;
}
.box__image img{
    display: block;
    height: auto;
    max-width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.box__image img:hover{
    transition: 2s;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.box__info{
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
    font-size: 20px;
}

.box__info .box__name, .box__prof{
    color:fuchsia;
}
.box__prof{
    margin-top: 2px;
    font-size: 10px;
}


@media(max-width:820px){

    .box__item{
        width: 40%;
        margin-top: 30px;
    }
    
}

@media(max-width:500px){

    .box__item{
        width: 100%;
        
    }
}


.footer{
    margin-top: 10px;
    min-height: 200px;
    background-color: darkslategray;
}

.ft-leg{
    text-align: center;
    color: #fff;
}
.ft-leg h1{
    font-size: 50px;
}
.ft-leg button{
    margin-top: 60px;
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.ft-leg button:hover{
    background-color: chocolate;
}
.ft-leg p{
    font-size: 17px;
}

@media(max-width:130px){

    .ft-leg button{
        flex-wrap: wrap;
        display: none;
        
    }
}

.section{
    margin-top: 10px;
}
.sc-img{
    width: 100%;
}
.sc-pagebox{
    position: relative;
    text-align: center;
}
.sc-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}

.sc-text h1{
    font-size: 40px;
}
.sc-text h1, p{
    margin-top: 15px;
}
.sc-btn-one{
    min-width: 350px;
    border: 2px solid green;
    padding: 14px;
    text-transform: uppercase;
    color: green;
    background-color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.sc-btn-one:hover{
    background-color: chocolate;
}
.sc-btn-sec{
    min-width: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: black;
    border: 2px solid green;
    padding: 14px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.sc-btn-sec:hover{
    background-color: chocolate;
}
.aside{
    width: 100%;
}


.as-box{
    position: relative;
    text-align: center;
}
.as-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}

.as-text h1, p{
    font-size: 40px;
    color:chocolate;
}

.card__text__zero{
    min-height: 160px;
    font-size: 22px;
    text-align: center;
    background-color:lightseagreen;
}

.serv-section-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-color: antiquewhite;
}

.sc-box-one img{
    height: 50%;
}



@media(max-width:1000px){

    .sc-box-one img, h3{
        flex-wrap: wrap;
        height: 25%;
        
    }
}


@media(max-width:400px){

    .sc-box-one img ,h3{
        flex-wrap: wrap;
        height: 10%;
        
    }
}

.forever{
    display: flex;
    min-height: 400px;
    background-color: darkslategray;
}

.forever-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forever-text{
    font-size: 20px;
    color: black;
}

.forever-box img{
    height: 60%;
    width: 80%;
    margin-left: 10px;
}


.section-about{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 10px;
}

.about-img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px;
}

.about-img h3{
    color: orangered;
}
.about-img {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}


.about-img img{
    width: 40%;
    height: 30%;
}


@media (max-width:900px){
    .about-img{
        flex-wrap: wrap;
    }
    .about-img img{
        width: 30%;
        height: 22%;
    }
}
@media (max-width:500px){
    .about-img{
        flex-wrap: wrap;
    }
    .about-img img{
        display: none;
    }
}

.header-about{
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-about-box{
    display: flex;
}
.header-about-box img{
    width: 90%;
    border-radius: 5%;
    height: 80%;
    padding-left: 10px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.header-about-box img:hover{
    transition: 1s;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}